.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions {
    margin-bottom: 20px;
}

.history {
    width: 100%;
}

.history h2 {
    margin-bottom: 10px;
}

.history ul {
    list-style: none;
    padding: 0;
}

.history li {
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
